[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace]
members = [
    "tools/prover_killers"
]
resolver = "2"

[workspace.dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
glob = "0.3"
csv = "1.1"
clap = { version = "4.1", features = ["derive"] }
hex = "0.4"
