[workspace.package]
version = "0.1.0"
edition = "2021"

[workspace]
members = [
    "tools/program_gen"
]
resolver = "2"

[workspace.dependencies]
# precomp-arith-eq = { git = "https://github.com/0xPolygonHermez/zisk.git" }
# Local development
precomp-arith-eq = { path = "../zisk/precompiles/arith_eq" }
